#include "@@NAME@@SCQF.hpp"

@@NAME@@SCQF::@@NAME@@SCQF() {
  name = "@@SHORT@@";
  description = "@@DESCRIPTION@@";
}

double @@NAME@@SCQF::apply(igraph_t* graph, std::vector<long> & membership, std::deque<long> & nodes) {
  double res = 0.0;
  return res;
}
