.code {
  background-color: #7F7F7F;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 2px;
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
}

.comment { 
  color: #ffcc99;
}

.file {
  color: #337AB7;
  font-weight: bold;
}

div.code { 
  margin: 3px;
}

h1 {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 203px;
  line-height: 203px;
  background-image: url("img/online_communities_cropped.png");
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  text-align: center;
  margin: 0 auto;
}

h1:hover { 
  background-image: url("img/online_communities_cropped-2.png");           
}

.title { 
  font-family: Arial black, Arial Bold, sans-serif;
  font-size: 80px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #337AB7;
}

h2 { 
  font-weight: bold;
  font-size: 40px;
  color: #337AB7;
}

.center { 
  text-align: center;        
}

/* Specific handling of the sidebar */
#sidebar.affix {
    position: fixed;
    top:25px;
    width:21%;
}

/* Make the sidebar disappear if the screen is too small */
@media (max-width: 760px) { 
#sidebar.affix { 
    display: none;
 }
}

body { 
    padding:1%;
}

.blue { 
    color: #337AB7;
}

.disabled-img {
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0.8;
    position:absolute;
    z-index:1;
}

.big-icon {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 40px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row {
	height: auto;
  margin: 0;
}

.computation-block {
    border-style:solid;
    border-width:thin;
    border-radius:5px;
    height: auto;
}

.container {
	width:auto;
  padding: 0;
}

.btn-default {
	margin-bottom: 3px;
}

.form-group {
	margin: 0;
}

div.list_scroll {
    height:90px;
    overflow: auto;
}

div.small_list_scroll {
    height: 45px;
    overflow: auto;
}

.checkbox-inline.no_indent,
.checkbox-inline.no_indent+.checkbox-inline.no_indent {
    margin-left: 0;
    margin-right: 10px;
}
.checkbox-inline.no_indent:last-child {
    margin-right: 0;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
    display: none;
}
